/* ;
font-family: "Ribeye", serif;
font-family: "Gelasio", serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.btn {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

.bg-orange {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  border-radius: 5px;
  background-color: rgba(201, 69, 59, 1);
  color: inherit;
}

.ff-gelasio {
  font-family: "Gelasio", serif;
  font-weight: 500;
}

.inner-title {
  font-size: 43px;
  line-height: 60px;
  margin-bottom: 20px;
  text-align: center;
}

.inner-subtitle {
  opacity: 0.6;
  text-align: center;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #000000;
}


.header {
  background: rgba(0, 0, 0, 0.3) url(../images/header-bg.png) no-repeat center;
  background-size: cover;
  padding: 35px 0 244px 0;
  color: #FFFFFF;
}

.container {
  max-width: 1145px;
  margin: 0 auto;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu-list+.menu-list {
  margin-left: 50px;
}

.header-logo {
  font-family: "Ribeye", serif;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.06em;
}



.header-btn {
  display: block;
  width: 163px;
  padding: 14px 0 13px 0;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.header-btn:hover {
  background-color: rgb(213, 105, 98);
}

.header-bottom {
  margin-top: 200px;
}

.header-bottom-title {
  font-family: "Gelasio", serif;
  font-weight: 700;
  font-size: 65px;
  line-height: 78px;
  width: 804px;
}

.header-bottom-text {
  opacity: 0.6;
  margin: 30px 0 40px 0;
  width: 458px;
}

.header-bottom-link {
  display: block;
  width: 187px;
  text-align: center;
  padding: 18px 0 17px 0;
  transition: all 0.3s ease-in-out;
}

.header-bottom-link:hover {
  background-color: rgb(213, 105, 98);
}

/* section location */
.location {
  padding: 140px 0;
  text-align: center;
}

.location-subtitle {
  margin: 0 auto;
  width: 735px;
}

.location-wrapper {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin-top: 50px;
}

.location-block {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 500px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 10px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.location-block:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.location-block-title {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin: 35px 0 10px 0;
}

.location-block:first-child .location-block-text {
  opacity: 0.6;
  padding: 0 27px 33px 27px;
}

.location-block:nth-child(2) .location-block-text {
  opacity: 0.6;
  padding: 0 34px 33px 37px;
}

.location-block:last-child .location-block-text {
  opacity: 0.6;
  padding: 0 13px 33px 13px;
}

/* end location */

/* section slider */
.slider {
  height: 592px;
}
.slider-subtitle {
  padding-bottom: 57px;
  width: 656px;
  margin: 0 auto;
}

.sliders {
  display: flex;
  justify-content: space-between;
}

.sliders_block-wrapp {
  width: 262px;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.sliders_block-wrapp:hover {
   opacity: 0.5;
}

.sliders_block-title {
  font-size: 24px;
  line-height: 36px;
  margin: 20px 0 8px 0;
}

.sliders_block-loc {
  font-size: 20px;
  padding-left: 21px;
  position: relative;
  color: #00000060;
  margin-right: 50px;
}

.sliders_block-loc::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 11px;
  height: 16px;
  background: url("../images/special-offers/loc-icon.svg") no-repeat center;
  transform: translateY(-50%);
}

.sliders_block-star {
  padding-left: 34px;
  background: url(../images/special-offers/Star\ 3.png) no-repeat left center;
}

.sliders_block-booking {
  padding: 8px 0 8px 0;
  opacity: 0.6;
}

.sliders_block-price span{
  opacity: 0.6;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}


.sliders_block-price{
  font-weight: 500;
}

.round-img {
  border-radius: 5px;
}

.btn-slider {
  position: absolute;
  width: 12px;
  height: 10px;
  z-index: 10;
}

.btn-slick-prev {
 bottom: -55px; 
 left: 35.95%;
}

.btn-slick-next {
 bottom: -55px; 
 right: 35.95%;
}

.slick-dots {
  position: absolute;
  bottom: -53px;
  left: 50%;
  width: 392px;
  display: flex;
  justify-content: space-around;
  transform: translateX(-50%);
  
}
.slick-dots li {
  background: #a8a4a4da;
  border-radius: 10px;
  width: 50px;
  height: 5px;
  font-size: 0;
  line-height: 0;
  transition: 0.4s;
}
.slick-dots li.slick-active {
  background-color: rgb(220, 144, 144);
}
.slick-dots li button{
  font-size: 0;
  line-height: 0;
  border: none;
}
/* section news */
.news {
  padding: 140px 0 142px 0;
}

.news-subtitle {
  width: 581px;
  margin: 0 auto 56px auto;
}
.news__wrapper {
  display: flex;
  justify-content: space-between;
}

.news__left {
  width: 554px;
}

.news__left-title{
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin: 35px 0 10px 0;
}

.news__left-text {
  font-size: 18px;
  opacity: 0.6;
  margin-bottom: 10px;
}

.news__left-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.news__right {
  width: 539px;
}

.news__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news__card:not(:last-child) {
  margin-bottom: 30px;
}
.news__card_img {
  width: 263px;
}

.news__card-content {
  width: 247px;
}

.news__card__title {
  font-size: 20px;
  line-height: 30px;
}

.news__card__text {
  opacity: 0.6;
  margin: 10px 0 5px 0;
}
.news__card__link {
  opacity: 0.8;
  font-weight: 20px;
}